<model>
    <name>Go Kart</name>
    <version>1.0</version>
    <sdf version="1.5">rover.sdf</sdf>
    <author>
        <name>Cole Biesemeyer</name>
        <email>cole.bsmr@gmail.com</email>
    </author>
    <author>
        <name>Nate Koenig</name>
        <email>natekoenig@gmail.com</email>
    </author>
    <author>
        <name>Donghyun Kim</name>
        <email>kidonghy@umich.edu</email>
    </author>
    <description>A model of the Go Kart modificated from Polaris Ranger XP900.</description>
</model>
