<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <!-- <arg name="vehicle" default="iris"/> -->
    <arg name="vehicle" default="base_drone"/>
    <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/iitp.world"/> -->
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/iitp_noceiling_v6.world"/>
    <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/> -->
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

	<!-- setpoint ctrl -->
	<arg name="num_drone" default="1"/>
	
    <!-- Gazebo sim -->
    
    <param name="/use_sim_time" value="true"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <arg name="user_ip" default="127.0.0.1"/>
	<param name="/use_sim_time" value="true"/>
    
    <!-- UAV1 -->
    <group ns="camila1">
        <!-- MAVROS and vehicle configs -->        
        <arg name="ID" value="1"/>
		<arg name="fcu_url" default="udp://:13201@$(arg user_ip):13101"/>
		<arg name="gcs_url" default="udp://:14540@$(arg user_ip):13301"/>
        <include file="$(find drone_base)/launch/SITL_drone_base.launch">
            <arg name="x" value="-12.792"/>
            <!-- <arg name="x" value="0"/> -->
            <arg name="y" value="5.5"/>
            <arg name="z" value="0"/>
            <!-- <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/> -->
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <!-- <arg name="vehicle" value="$(arg vehicle)"/> -->
            <arg name="rcS" value="$(find drone_base)/config/posix-configs/SITL/init/$(arg est)/$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="13001"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
		<node pkg="mavros" type="mavros_node" name="mavros" output="screen" respawn="true">
			<param name="fcu_url" value="$(arg fcu_url)"/>
			<param name="gcs_url" value=""/>
            <!-- <param name="gcs_url" value="$(arg gcs_url)"/> -->
			<param name="target_system_id" value="$(arg ID)"/>
            <!-- <param name="target_component_id" value="iris"/> -->
            <param name="target_component_id" value="1" />
			<param name="fcu_protocol" value="v2.0" />
			<!-- load blacklist, config -->
			<!-- <rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml"/>
			<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" /> -->
            <rosparam command="load" file="$(find drone_base)/launch/px4_pluginlists_drone_base.yaml"/>
			<rosparam command="load" file="$(find drone_base)/launch/px4_config_drone_base.yaml" />
		</node>
	</group>
    <arg name="drone_base_config_yaml" default="$(find drone_base)/config/drone-configs/config.yaml" />
	<node name="drone_base_node" pkg="drone_base" type="drone_base_node" output="screen" respawn="true">
		<rosparam command="load" file="$(arg drone_base_config_yaml)"/>
		<param name="num_drone" value="$(arg num_drone)"/>
	</node>
    
</launch>
