<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="joy" default="false"/>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="rover"/>
    <!-- <arg name="world" default="$(find uv_base)/config/posix-configs/worlds/rover_follow.world"/> -->
    <arg name="world" default="$(find uv_base)/config/posix-configs/worlds/evgp.world"/>
    <arg name="sdf" default="$(find uv_base)/config/posix-configs/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="user_ip" default="localhost"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@$(arg user_ip):14557"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL and Gazebo -->
    <include file="$(find uv_base)/launch/sim_launch/rover_posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- MAVROS -->
    <include file="$(find uv_base)/launch/mavros_launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <!-- ouster 16channel LiDAR tf broadcaster -->
    <node pkg="uv_base" type="sensor_node" name="sensor_node" />

    <!-- Joystick -->
    <node if="$(arg joy)" name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="true">
    </node>
    <node if="$(arg joy)" name="joystick_control_node" pkg="uv_base" type="joystick_control_node" output="screen" respawn="true">
    </node>

    <param name="robot_description" textfile="$(find uv_base)/config/posix-configs/models/rover/rover.urdf" />
    <!-- rviz -->
    <!-- <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find uv_base)/config/uv-configs/rviz/uv.rviz">
    </node> -->

    <!-- <node pkg="uv_base" type="uv_base_node" name="uv_base_node" /> -->

</launch>
